body, html{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.25em;
}

.logoCabecera{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   height: auto;
}

.tituloPaguina{
  font-size: 4em;
}

.barraNavegacion{
    text-align: center
}

.barraNavegacion span{
    padding: 2%
}

section.quienesSomos{
  height: auto;
  width: 100%;
}

div.miembro{
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
}

div.queHemosUsado{
  display: inline-block;
}

img.logoDescripcion{
  width:75px;
  height: auto;
}

footer{
  display: inline-block;
}
