body, html{
    width: 100%;
    height: auto;
    text-align: center;
}

.logoCabecera{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   height: auto;
}

.tituloPaguina{
  font-size: 4em;
}

.urlGitHub{
  font-size: 1em;
}

.barraNavegacion{
    text-align: center
}

.barraNavegacion span{
    padding: 2%
}

section.quienSomos{
  height: auto;
  width: 100%;
}

section.agradecimiento{
  height: 100%;
  width: 100%;
}

section.queEsChato{
  height: 100%;
  width: 100%;
}

footer{
  display: inline-block;
}
